$fontfamily: "Inter", sans-serif;
$white: #ffffff;
$grey0: rgba(255, 255, 255, 0);
$grey04: rgba(255, 255, 255, 0.04);
$grey06: rgba(255, 255, 255, 0.06);
$grey08: rgba(255, 255, 255, 0.08);
$grey10: rgba(255, 255, 255, 0.1);
$grey12: rgba(255, 255, 255, 0.12);
$grey16: rgba(255, 255, 255, 0.16);
$grey24: rgba(255, 255, 255, 0.24);
$grey36: rgba(255, 255, 255, 0.36);
$grey56: rgba(255, 255, 255, 0.56);
$grey64: rgba(255, 255, 255, 0.64);
$grey70: rgba(255, 255, 255, 0.7);
$grey80: rgba(255, 255, 255, 0.8);
$dark-grey: #22252a;
$black: #0a0c0f;
$blue: #43a1f7;
$dirty-blue: rgba(67, 161, 247, 0.2);
$toxic: #40c374;
$teal: #4cbfff;
